# ignore everything by default
/*

# but not these files
!.gitignore
!README.md

# allow .config directory
!/.config
# ignore everything in .config by default
/.config/*
# but not these dirs/files
!/.config/fish/config.fish
!/.config/ghostty
!/.config/nvim
!/.config/awesome
