@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Berkeley Mono';
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.modules-left,
.modules-right,
.modules-center {
  background-color: @background;
  border-radius: 0;
  padding: 0px 8px;
  margin: 0;
}

#workspaces button {
  padding: 0 4px;
  margin: 0 1.5px;
  background: transparent;
}

#workspaces button label {
  color: @accent
}

/* #workspaces button.empty { */
/*   opacity: 0.5; */
/* } */


#workspaces button.active label {
  color: @foreground
}

#custom-arch {
  color: @foreground;
  margin-left: 4px;
  margin-right: 8px;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,

#custom-update {
  min-width: 12px;
  margin: 0 8px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 0;
}

.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
